*{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
head{
    display: none;
}
body{
    min-height: 100vh;
}
header{
    background-color: lightblue;
}
img {
    max-width: 20%;
}

footer{
    margin-top: auto;
}

nav ul{
    display:  flex;
    flex-wrap: wrap;
}