<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Datos de Interes</title>
</head>
<body>
    <header>
        <div>
            <img src="../images/IMG_20231209_195945212.jpg" alt="">
            <h1>Teran Pedro Fabian</h1>
            <p>programador</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/formacionAcademica.html">Formacion Academica</a></li>
                <li><a href="/templates/experienciaProfecional.html">Experciencia Profecional</a></li>
                <li><a href="/templates/informatica.html">Informatica</a></li>
            </ul>
        </nav>
    </header>

    <h2>datos sobre mi</h2>
    <section>
        <ul>
            <li>
                <h3>con respecto al trabajo</h3>
                <p>soy constante, dedicado, responsable y puntual, se trabajar en grupo y por objetivos</p>
            </li>
            <li>
                <h3>con respecto al estudio</h3>
                <p>me motivo mucho cuando encuentro un tema que me gusta, y no paro hasta poder alcanzar mi objetivo de estudio.</p>
            </li>
            <li>
                <h3>con respecto a mi vida</h3>
                <p>me gusta el orden en los sectores comunes, tratando de ser alegre para generar un buen ambiente con los demas, no soy muy ruidoso y me gusta hacer deportes para despejar mi mente.</p>
            </li>
        </ul>
    </section>



    <footer>
        <ul>
            <li>Linkedin: Pedro Terán</li>
            <li>Gmail: teranpedrofabian@gmail.com</li>
            <li>GitHub: Teran-Pedro-Fabian</li>
            <li>Instagram: teran2931</li>
        </ul>
    </footer>
</body>
</html>