<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Datos de Interes</title>
</head>
<body>
    <header>
        <img src="../images/IMG_20231209_195945212.jpg" alt="">
        <h1>Teran Pedro Fabian</h1>
        <p>programador</p>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/formacionAcademica.html">Formacion Academica</a></li>
                <li><a href="/templates/experienciaProfecional.html">Experciencia Profecional</a></li>
                <li><a href="/templates/informatica.html">Informatica</a></li>
            </ul>
        </nav>
    </header>

    <h2>datos de color sobre mi</h2>
    <section>
        <ul>
            <li>
                <h3>con respecto al trabajo</h3>
                <p>soy constante, dedicado, responsable y puntual, se trabajar en grupo y por objetivos</p>
            </li>
            <li>
                <h3>con respecto al estudio</h3>
                <p>e motivo mucho cuendo encuentro un tema que me gusta, me frustro a la hora de no poder resolver problemas, pero lñueg de un mini-break lo vuelvo a encarar para poder resolverlo y asi todas las veces que sean necesarias</p>
            </li>
            <li>
                <h3>con respecto a mi vida</h3>
                <p>me gusta el orden en los sectorers comunes, tratando de ser alegre y alegrar a los demas siempre que pueda, no soy muy ruidoso y me gusta hacer deportes ya que considero que el cuerpo es una combinacion d cuerpo y mente por lo tanto ambos tienen que desarrollarse juntos</p>
            </li>
        </ul>
    </section>



    <footer>
        <ul>
            <li>instagram:</li>
            <li>linkedin:</li>
            <li>gmail:</li>
        </ul>
    </footer>
</body>
</html>