<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Experiencia Profecional</title>
</head>
<body>
    <header>
        <div>
            <img src="../images/IMG_20231209_195945212.jpg" alt="">
            <h1>Teran Pedro Fabian</h1>
            <p>PROGRAMADOR</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/formacionAcademica.html">Formación Académica</a></li>
                <li><a href="/templates/informatica.html">informatica</a></li>
                <li><a href="/templates/datosInteres.html">Datos de Interes</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h3>Mi experiencia profesional</h3>
        <p> He trabajado como albañil, mesero, y aún no he tenido la oportunidad de demostrar mis conocimientos en el mundo de la programacion.</p>
    </section>




    <footer>
        <ul>
            <li>Linkedin: Pedro Terán</li>
            <li>Gmail: teranpedrofabian@gmail.com</li>
            <li>GitHub: Teran-Pedro-Fabian</li>
            <li>Instagram: teran2931</li>
        </ul>
    </footer>
</body>
</html>