<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Formacion Academica</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <h1>Teran Pedro Fabian</h1>
        <p>programador</p>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/experienciaProfecional.html">Experciencia Profecional</a></li>
                <li><a href="/templates/informatica.html">Informatica</a></li>
                <li><a href="/templates/datosInteres.html">Datos de Interes</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>Primaria</h3>
        <p>mi primaria  fue trasncurridda en la Escuela Normal de Las Flores provincia de Bs.As</p>
    </section>
    
    <section>
        <h3>Secundaria</h3>
        <p>mi secundaria transcurrio en La Escuela de Educacion Secundaria Tecnica n°1(E.T.I) de Las Flores provincia de Bs.As y a su finalizacion me gradue de tecnico en intalacion y mantenimiento de sistemas electromecanicos</p>
        <p>adquiriendo experiencia en manejo de diversas maquinarias de trabajo tanto industriales como no, por ej: tornos, moladoras, augereadoras, soldadoras (de punto, mig, tig),etc. </p>
    </section>

    <section>
        <h3>terceario</h3>
        <p>actualmete estoy transcurriendo la carrera deestudiante de la carrera de Tecnicatura Univercitaria en Desarrollo de Aplicaciones Informaticas (T.U.D.A.I) en la Univercidad Naciona del Centro (U.N.I.C.E.N) de la provincia de Bs.As</p>
        <p>y ya tengo conocimientos en lenguajes de programacion como serian javan, javascript y php, ademas de estar interiorisandome en el manejo de backend con javascript y lenguajes como C++, como tambien conocimiento en programas como git y xampp</p>
    </section>
    



    <footer>
        <ul>
            <li>instagram:</li>
            <li>linkedin:</li>
            <li>gmail:</li>
        </ul>
    </footer>
</body>
</html>