<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Formacion Academica</title>
</head>
<body>
    <header>
        <div>
            <img src="../images/IMG_20231209_195945212.jpg" alt="">
            <h1>Teran Pedro Fabian</h1>
            <p>PROGRAMADOR</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/experienciaProfecional.html">Experiencia Profesional</a></li>
                <li><a href="/templates/informatica.html">Informatica</a></li>
                <li><a href="/templates/datosInteres.html">Datos de Interes</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>Primaria</h3>
        <p> Transcurri mi nivel primario en la Escuela Normal Domingo Faustino Sarmiento de Las Flores provincia de Bs.As</p>
    </section>
    
    <section>
        <h3>Secundaria</h3>
        <p> Mi nivel secundario lo realice en La Escuela de Educacion Secundaria Tecnica n°1(E.T.I) de Las Flores provincia de Bs.As y a su finalizacion me gradue como tecnico en instalación y mantenimiento de sistemas electromecanicos</p>
        <p>adquiriendo experiencia en manejo de diversas maquinarias de trabajo tanto industriales como no, por ej: tornos, moladoras, agujereadoras, soldadoras (de punto, mig, tig),etc. </p>
    </section>

    <section>
        <h3>Terceario</h3>
        <p> Actualmente estoy cursando, como mencione anteriormente, la carrera de Tecnicatura Universitaria en Desarrollo de Aplicaciones Informaticas (T.U.D.A.I) en la Universidad Nacional del Centro (U.N.I.C.E.N) de la provincia de Bs.As</p>
        <p>por lo tanto ya he adquirido conocimientos en lenguajes de programación tales como, java, javascript y php.</p>
        <P> Ademas de estar interiorizandome en el manejo de backend con lenguajes (javascript, C++ y php),también con programas como git,xampp, y saber deployear páginas con netlify</p>
    </section>
    



    <footer>
        <ul>
            <li>Linkedin: Pedro Terán</li>
            <li>Gmail: teranpedrofabian@gmail.com</li>
            <li>GitHub: Teran-Pedro-Fabian</li>
            <li>Instagram: teran2931</li>
        </ul>
    </footer>
</body>
</html>