<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Conocimiento Infiormatico</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <h1>Teran Pedro Fabian</h1>
        <p>programador</p>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/templates/formacionAcademica.html">Formacion Academica</a></li>
                <li><a href="/templates/experienciaProfecional.html">Experciencia Profecional</a></li>
                <li><a href="/templates/datosInteres.html">Datos de Interes</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h3></h3>
        <p></p>
    </section>




    <footer>
        <ul>
            <li>instagram:</li>
            <li>linkedin:</li>
            <li>gmail:</li>
        </ul>
    </footer>
</body>
</html>